<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLMS | About</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='image/e-learning-icon.jpg')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <div id="headerDiv">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='image/e-learning.png')}}" alt="e-learning"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session['s_email_pass'] %}
              <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>&nbsp Logout</a></li>
            {%else%}
              <li><a href="/register"><span class="glyphicon glyphicon-log-out"></span>&nbsp Register</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp Login</a></li>
            {%endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <div class="well">
            <p>ADS 1</p>
        </div>  
        <div class="well">
            <p>ADS 2</p>
        </div>
      </div>
      <div class="col-sm-8 text-left about_us">
        <div class="row">
          <div class="col-sm-6">
            <div><img src="{{url_for('static', filename='image/about_1.jpg')}}" alt="about_1" /></div>
          </div>
          <div class="col-sm-6">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
            Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters, as opposed to using 'Content here, content here', 
            making it look like readable English. Many desktop publishing packages and web page editors now use 
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites 
            still in their infancy. Various versions have evolved over the years, sometimes by accident, 
            sometimes on purpose (injected humour and the like).
          </div>
          <div class="col-sm-6"><img src="{{url_for('static', filename='image/about_2.jpg')}}" alt="about_2" /></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><img src="{{url_for('static', filename='image/about_3.jpg')}}" alt="about_3" /></div>
          <div class="col-sm-6">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of 
            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, 
            a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
            consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, 
            discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
            Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
            This book is a treatise on the theory of ethics, very popular during the Renaissance. 
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
            tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
            to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free 
            from repetition, injected humour, or non-characteristic words etc...
          </div>
          <div class="col-sm-6"><img src="{{url_for('static', filename='image/about_4.jpg')}}" alt="about_4" /></div>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS 3</p>
        </div>
        <div class="well">
          <p>ADS 4</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="footerDiv">
    <footer class="container-fluid text-center">
      <p>Copyright 2020-2021. All Rights Reserved.</p>
    </footer>
  </div>
</body>
</html>