<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLMS</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='image/e-learning-icon.jpg')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <div id="headerDiv">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='image/e-learning.png')}}" alt="e-learning"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session['s_email_pass'] %}
              <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>&nbsp Logout</a></li>
            {%else%}
              <li><a href="/register"><span class="glyphicon glyphicon-log-out"></span>&nbsp Register</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp Login</a></li>
            {%endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav"></div>

      <div class="col-sm-8 row align-items-center justify-content-center">
        {% if session['s_email_pass'] %}
          <h1>Welcome <strong>{{ session['s_name'] }}</strong></h1><br>
          <h4>Welcome to Online Learning Management System <b>(OLMS)</b>.</h4><br>
          {% if error %}
            <div style="color: red;">Something Went Wrong. Please retry. {{error}}</div>
          {% elif already_enrolled %}
            <div style="color: red;">You have been already enrolled for this course.</div>
          {% elif enrolled %}
            <div style="color: green;">You have successfully enrolled for the course.</div>
          {% endif %}
          <div class="enroll">
            <form method="POST">
              <label>Select Course to enroll.</label><br>
              <select name="subject" required>
                {% for course in course_list %}
                  <option value={{course[0]}}>{{course[1]}}</option>
                {% endfor %}
              </select><br>
              <input type="submit" value="Enroll" class="btn">
            </form>
          </div>
          {% if enrolled_course_list %}
          <div class="enrolled_list">
            <div class="enrolled_course">Courses you have Enrolled.</div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Course</th>
                  <th scope="col">Lecture</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for ecl in enrolled_course_list %}
                  <tr>
                    <td>{{ ecl[1] }}</td>
                    <td>{{ ecl[2] }}</td>
                    <td><a href="/unenroll?id={{ ecl[0] }}" class="btn btn-danger btn-sm">Unenroll</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        {%else%}
          <h1>Welcome Learner</h1><br>
          <h4>Welcome to Online Learning Management System <b>(OLMS).</b></h4>
          <h5>Please <b>Login/Register</b> to proceed.</h5><br>
          <a class="btn btn-primary" href="/register" role="button">Register</a>
          <a class="btn btn-success" href="/login" role="button">Login</a>
        {%endif %}
      </div>

      <div class="col-sm-2 sidenav"></div>
    </div>
  </div>
  
  <div id="footerDiv">
    <footer class="container-fluid text-center">
      <p>Copyright 2020-2021. All Rights Reserved.</p>
    </footer>
  </div>
</body>
</html>