<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLMS | Login</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='image/e-learning-icon.jpg')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <div id="headerDiv">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='image/e-learning.png')}}" alt="e-learning"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session['s_email_pass'] %}
              <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>&nbsp Logout</a></li>
            {%else%}
              <li><a href="/register"><span class="glyphicon glyphicon-log-out"></span>&nbsp Register</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp Login</a></li>
            {%endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-4">
        
        </div>
        <div class="col-sm-4">
          <br>
          {% if error %}
            <div style="color: red;">Something Went Wrong. Please retry! {{error}}</div>
          {% elif login_fail %}
            <div style="color: red;">Invalid Email or Password. Please retry!</div>
          {% endif %}
          <div class="login">
            <div>
                  <img src="../static/image/user.png" alt="User" title="User">
                  <div class="login_text">Login to Your Account</div>
            </div>
            <div>
                <form method="POST">
                  <label>Email ID</label><br>
                  <input type="email" name="email" size="42px" placeholder="Enter your registered Email-id." required><br>
                  <label>Password</label><br>
                  <input type="password" name="password" size="42px" placeholder="Enter your Password." required><br>
                  <label>Click here to:&nbsp <a href="/register">Register</a></label>
                  <input type="submit" value="Login" class="btn">
                </form>
            </div>
          </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
  </div>
  
  <div id="footerDiv">
    <footer class="container-fluid text-center">
      <p>Copyright 2020-2021. All Rights Reserved.</p>
    </footer>
  </div>
</body>
</html>